@if (error(); as error) {
  <div>{{error}}</div>
}
@if (recipe(); as recipe) {
  <div class="recipe">
    <div class="recipe-image">
      <img [src]="recipe.imageUrl ? recipe.imageUrl : 'assets/img/placeholder.jpg'">
    </div>
    <div class="recipe-data">
    <h2>{{recipe.title}}</h2>
    <p><b>Cooking time:</b> {{recipe.cookTime}} min</p>
    <p><b>Servings:</b> {{recipe.servings}}</p>
    <p><b>Ingredients:</b> {{recipe.ingredients}}</p>
    <p><b>Instructions:</b> {{recipe.instructions}}</p>
    </div>
  </div>
}


