<mat-card class="filter">
  <mat-card-header>
    <mat-card-title>Filters</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="filter-form"
          data-testid="filter-form"
          [formGroup]="filterForm"
          (submit)="updateFilter(filterForm.value)">

      <mat-form-field appearance="fill">
        <mat-label>Keyword</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Ingredient</mat-label>
        <input matInput formControlName="ingredients">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Cooking time</mat-label>
        <input matInput formControlName="cookTime">
      </mat-form-field>

      <button type="submit" class="submit" mat-raised-button color="accent">See results</button>

      <button mat-raised-button color="primary" (click)="reset()">Reset</button>

    </form>
  </mat-card-content>
</mat-card>
