<ng-container *ngIf="{
  loading: loading$ | async,
  recipe: recipe$ | async,
  save: save$ | async,
  saving: saving$ | async,
  error: saveError$ | async
} as vm">
  <h2>Edit recipe</h2>
  <mat-spinner class="spinner" *ngIf="vm.loading"></mat-spinner>
  <div *ngIf="vm.error">{{vm.error}}</div>
  <app-recipes-form *ngIf="vm.recipe"
                    [saving]="vm.saving || false"
                    [recipe]="vm.recipe"
                    (save)="saveAction$.next($event)">
  </app-recipes-form>
</ng-container>
